:root {
  --primary-navy-color: #2e2f42;
  --primary-slate-color: #434455;
  --primary-cloud-color: #f4f4fd;
  --primary-white-color: #ffffff;
  --primary-iris-color: #4d5ae5;
  --primary-ocean-color: #404bbf;
  --primary-light-color: #8e8f99;
  --cloud-color: #f4f4fd;
  --green-color: #31d0aa;

  --primary-text: "Roboto", sans-serif;
  --secondary-text: "Raleway", sans-serif;
  --border-color-button: #e7e9fc;
}

h1,
h2,
h3,
p {
  margin-bottom: 0;
  margin-top: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
input {
  font-family: sans-serif;
}
div {
  display: block;
}
/* Голова */
.open {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-decoration: none;

  display: inline-block;
}
@media screen and (min-width: 768px) {
  .logo {
    margin-right: 76px;
  }
}

.link {
  text-decoration: none;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}
.logotope {
  color: #2e2f42;
}

.onelinks {
  color: var(--primary-navy-color);

  font-size: 36px;

  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  display: block;
  font-family: "Roboto", sans-serif;
}
@media screen and (min-width: 768px) {
  .onelinks {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;

    line-height: 1.5;
    padding: 24px 0;
    display: flex;
    flex-direction: row;
    gap: 40px;

    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.onelinks:hover,
.onelinks:focus {
  color: var(--primary-ocean-color);
}

.link:hover,
.link:focus {
  color: var(--primary-ocean-color);
}

.contacts {
  display: none;
}

@media screen and (min-width: 768px) {
  .contacts {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-slate-color);
    text-decoration: none;
    display: block;
    gap: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 12px;
  }
}
@media screen and (min-width: 1158px) {
  .contacts {
    font-size: 16px;
  }
}

.contacts:hover {
  color: var(--primary-ocean-color);
}
.contacts:focus {
  color: var(--primary-ocean-color);
}
@media screen and (min-width: 768px) {
  .header-ct {
    margin-top: 16px;
  }
}
@media screen and (min-width: 1158px) {
  .header-ct {
    gap: 40px;
  }
}
.list {
  list-style: none;
  font-style: normal;
}

.net {
  font-style: normal;
}
@media screen and (min-width: 768px) {
  .net {
    display: block;
  }
}
/* Главная страницв */
.firstpage {
  background-color: var(--primary-navy-color);

  /* padding-top: 188px;
  padding-bottom: 188px; */
  padding-top: 112px;
  padding-bottom: 112px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mobail/Dark-bgmobal@1x.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 100%;
  text-align: center;
  margin: 0 auto;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .firstpage {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mobail/Dark-bgmoba@2x.jpg);
  }
}
@media only screen and (min-width: 1158px) {
  .firstpage {
    padding-top: 188px;
    padding-bottom: 188px;
  }
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .firstpage {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mobail/Dark-bgmoba@2x.jpg);
  }
}
@media only screen and (min-width: 429px) {
  .firstpage {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tabl/Dark-bgtabl@1x.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .firstpage {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/tabl/Dark-bgtabl@2x.jpg);
    }
  }
}
@media only screen and (min-width: 769px) {
  .firstpage {
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/desk/people-office-desk@1x.jpeg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .firstpage {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/desk/people-office1desk@2x.jpg);
    }
  }
}
.two-container {
  margin-bottom: 8px;
}
.titles {
  font-family: "Roboto", sans-serif;
  color: var(--primary-white-color);
  text-align: center;

  /* Header 2 */

  font-size: 36px;

  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}
@media only screen and (min-width: 768px) {
  .titles {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    line-height: 1.07;
    letter-spacing: 0.02em;

    max-width: 496px;
    margin-bottom: 36px;
  }
}
@media only screen and (min-width: 1158px) {
  .titles {
    margin-bottom: 48px;
  }
}

.orders {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--primary-white-color);
  display: block;

  height: 56px;
  border: none;
  border-radius: 4px;
  min-width: 169px;
  margin-left: auto;
  margin-right: auto;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}
.orders:hover {
  background-color: var(--primary-ocean-color);
}
.orders:focus {
  background-color: var(--primary-ocean-color);
}

/* статьи */
.section-box {
  gap: 72px 24px;
}
.text-four {
  max-width: 396px;
  /* width: calc((100% - 3 * 24px) / 4); */
}
@media screen and (min-width: 768px) {
  .text-four {
    max-width: 356px;
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1158px) {
  .text-four {
    max-width: 264px;
  }
}
.strategy {
  font-family: "Roboto", sans-serif;
  font-weight: 700px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.72;
  text-align: center;
  margin-bottom: 8px;
  color: var(--primary-navy-color);
}
@media screen and (min-width: 768px) {
  .strategy {
    text-align: left;
  }

  @media screen and (min-width: 1158px) {
    .strategy {
      font-weight: 500;
      font-size: 20px;
      line-height: 1.2;
      letter-spacing: 0.02em;
    }
  }
}

.text {
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-slate-color);
  font-family: "Roboto", sans-serif;
}
@media screen and (max-width: 1158px) {
  .text {
    font-weight: 500;
  }
}
@media screen and (min-width: 1158px) {
  .fext {
    font-weight: 400;
    letter-spacing: 0.02em;
    text-align: left;
  }
}
.main-section-two {
  padding-bottom: 96px;
  padding-top: 96px;
}

@media screen and (min-width: 768px) {
  .main-section-two {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}
@media screen and (min-width: 1158px) {
  .main-section-two {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.icon-pictures {
  display: none;
}

@media screen and (min-width: 1158px) {
  .icon-pictures {
    border-radius: 4px;
    background-color: var(--cloud-color);
    width: 264px;
    height: 112px;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    display: flex;
  }
}

/* Чем занимаются */
.section-three {
  display: none;
}
@media screen and (min-width: 1158px) {
  .what {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--primary-navy-color);
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
  }

  .section-three {
    padding-bottom: 120px;
    display: block;
  }
}
.fours {
  background-color: var(--primary-cloud-color);
  display: flex;

  margin: 0 auto;
  padding-top: 96px;
  padding-bottom: 96px;
}
@media screen and (min-width: 1158px) {
  .fours {
    padding: 120px 0;
  }
}
.focus {
  background-color: #ffffff;

  border-radius: 0 0 4px 4px;

  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--primary-navy-color);
  margin-bottom: 72px;
}
.people {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--primary-navy-color);
  background-color: #ffffff;
  text-align: center;
  margin-bottom: 8px;
}
.profession {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--primary-slate-color);
  background-color: #ffffff;
  text-align: center;
}

/* Подвал */
.basement {
  background-color: var(--primary-navy-color);
  /* padding-top: 100px;
  padding-bottom: 100px; */

  align-items: center;
  margin-top: auto;
  margin-right: auto;
  padding-top: 96px;
  padding-bottom: 96px;
}
@media screen and (max-width: 1158px) {
  .basement {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.increase {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-cloud-color);
  width: 264px;
  height: 72px;
  text-align: left;
  margin: auto;
}
/* Вторая страница */
.pressbutton {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-iris-color);
  background-color: var(--primary-cloud-color);
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid var(--border-color-button);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
}
.pressbutton:hover {
  color: var(--primary-white-color);
  background-color: var(--primary-ocean-color);
  border: 1px solid transparent;

  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.pressbutton:focus {
  color: var(--primary-white-color);
  background-color: var(--primary-ocean-color);
  border: 1px solid transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.web {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-iris-color);
  background-color: var(--primary-cloud-color);
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}
.web:hover {
  color: var(--primary-white-color);
  background-color: var(--primary-ocean-color);
}
.web:focus {
  color: var(--primary-white-color);
  background-color: var(--primary-ocean-color);
}
.app {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-iris-color);
  background-color: var(--primary-cloud-color);
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}
.app:hover {
  color: var(--primary-white-color);
  background-color: var(--primary-ocean-color);
}
.app:focus {
  color: var(--primary-white-color);
  background-color: var(--primary-ocean-color);
}
.design {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-iris-color);
  background-color: var(--primary-cloud-color);
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}
.design:hover {
  color: var(--primary-white-color);
  background-color: var(--primary-ocean-color);
}
.design:focus {
  color: var(--primary-white-color);
  background-color: var(--primary-ocean-color);
}
.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.markering {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-iris-color);
  background-color: var(--primary-cloud-color);
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}
.markering:hover {
  color: var(--primary-white-color);
  background-color: var(--primary-ocean-color);
}
.markering:focus {
  color: var(--primary-white-color);
  background-color: var(--primary-ocean-color);
}

.page {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-navy-color);
  margin-bottom: 8px;
}
.tab {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-slate-color);
}

.add {
  font-style: normal;
}
.blue {
  font-style: normal;
}

.spam {
  color: #f4f4fd;
}

.header-nav {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header-nav {
    margin-right: 120px;
  }
}
.header-link {
  gap: 40px;
}
.open {
  border-bottom: 1px solid #e7e9fc;
}
/*  base style for mobail  */
.container {
  min-width: 320px;
  max-width: 428px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
/* tablet screen */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  /* desktop screen */
  @media screen and (min-width: 1158px) {
    .container {
      max-width: 1158px;
      padding-right: 15px;
      padding-left: 15px;
    }
  }
}
.header-ul {
  display: flex;
  gap: 40px;
}
@media only screen and (max-width: 768px) {
  .header-ul {
    display: none;
  }
}

.header-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
}
.logo-footer {
  margin-bottom: 16px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.div-three {
  display: flex;
  gap: 24px;
}

.div-three-li {
  width: calc((100%-2 * 24px) / 3);
}

.fours-ul {
  gap: 72px;
}
@media screen and (min-width: 768px) {
  .fours-ul {
    gap: 64px 24px;
  }
}
@media screen and (min-width: 1158px) {
  .fours-ul {
    gap: 24px;
  }
}

.people-div {
  padding: 32px 0;
}
.main-portfolio {
  padding: 96px 0 120px 0;
}
.portfolio-button {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.portfolio-pictures {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-im {
  width: calc((100% - 48px) / 3);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
  position: relative;
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-im:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.portfolio-im:hover .overlay {
  transform: translateY(0);
}

.portfolio-text {
  padding: 32px 16px;
  border: 1px solid var(--border-color-button);
  border-top: none;
}
.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}
.portfolio-div {
  position: relative;
  overflow: hidden;
}

/* section six */
.section-six {
  padding-top: 96px;
  padding-bottom: 96px;
}
@media screen and (min-width: 1158px) {
  .section-six {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
.customers {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  color: var(--primary-navy-color);
}
.clients-list {
  display: flex;
  justify-content: center;
  gap: 72px 16px;
}
@media screen and (min-width: 768px) {
  .clients-list {
    gap: 72px 24px;
  }
}
@media screen and (min-width: 1158px) {
  .clients-list {
    gap: 24px;
  }
}

.clients-link {
  display: flex;
  width: 168px;
  height: 88px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--primary-light-color);
  border-radius: 4px;
  color: var(--primary-light-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 768px) {
  .clients-link {
    width: 190px;
  }
}
.clients-link:hover,
.clients-link:focus {
  border-color: var(--primary-ocean-color);
  color: var(--primary-ocean-color);
}
.clients-link:hover .clients-icon {
  fill: var(--primary-ocean-color);
}
.clients-icon {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
  margin: 16px 32px;
  fill: currentColor;
}

.social-network {
  display: flex;
  gap: 24px;
  margin-top: 8px;
  justify-content: center;
}
.social-network-fo {
  display: flex;
  gap: 16px;
  flex-wrap: nowrap;
  justify-content: center;
}
.social-li {
  display: flex;
  gap: 16px;
  margin-top: 8px;
  justify-content: center;
}
.social {
  display: flex;
  background-color: var(--primary-iris-color);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}
.social:hover,
.social:focus {
  background-color: var(--primary-ocean-color);
}
.network {
  fill: var(--primary-cloud-color);
  margin: 8px 8px;
}
.network-one {
  fill: var(--primary-cloud-color);
  margin-left: 16px;
}

.social-to {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: var(--primary-white-color);
  font-family: "Roboto", sans-serif;
}
.social-footer {
  display: flex;
  flex-direction: column;
  min-width: 208px;
  margin-bottom: 72px;
}
@media only screen and (min-width: 1158px) {
  .social-footer {
    margin-bottom: 0;
  }
}
.social-fo {
  display: flex;
  background-color: var(--primary-iris-color);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}
.social-fo:hover,
.social-fo:focus {
  background-color: var(--green-color);
}

.footer-increase {
  margin-bottom: 72px;
}
@media screen and (min-width: 768px) {
  .footer-increase {
    margin-right: 24px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1158px) {
  .footer-increase {
    margin-right: 120px;
  }
}
.div-footer {
  text-align: center;
}
@media only screen and (min-width: 768px) and (max-width: 1157.98px) {
  .div-footer {
    width: 584px;
  }
}
@media screen and (min-width: 768px) {
  .div-footer {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
  }
}
@media screen and (min-width: 1158px) {
  .div-footer {
    flex-wrap: nowrap;
  }
}
.portfolio-window {
  overflow: hidden;
  position: relative;
}
.overlay {
  background-color: var(--primary-iris-color);
  display: flex;

  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  justify-content: center;
  transform: translateY(100%);
  transition: transform 250ms ease-in-out;
  transition-property: transform;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--primary-cloud-color);
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.32px;

  text-align: center;
  padding: 40px 32px;
}

/* window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background-color: #fcfcfc;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding-right: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 72px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
}
@media screen and (max-width: 427.8px) {
  .modal {
    max-width: 90%;
  }
}

.mogal-icon {
  stroke: var(--primary-navy-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-booton {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;

  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-booton:hover,
.modal-booton:focus {
  border: none;
  background-color: var(--primary-ocean-color);
  fill: var(--primary-white-color);
}
/* Form */
.strong-text {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-shrink: 0;
  font-size: 16px;
  color: var(--primary-navy-color);

  text-align: center;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}
.modal-form-div {
  margin-bottom: 8px;
}
.modal-form-field {
  display: block;
  margin-bottom: 8px;

  color: #8e8f99;
  font-size: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.48px;
  display: block;
  margin-bottom: 4px;
}

.modal-form-div-text {
  margin-bottom: 16px;
}

.div-modal {
  position: relative;
}
.modal-form-input {
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  height: 40px;
  padding: 8px 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 18px;
  padding-left: 38px;
  background-color: transparent;
}
.modal-form-input:focus {
  border-color: var(--primary-iris-color);
}
.modal-form-icon {
  fill: var(--primary-navy-color);
  position: absolute;
  left: 16px;

  top: 50%;
  transform: translateY(-50%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus + .modal-form-icon {
  fill: var(--primary-iris-color);
}
.modal-text {
  width: 100%;
  height: 120px;

  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-family: Roboto;
  line-height: 1.17;
  letter-spacing: 0.04em;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  resize: none;
  display: inline-block;
  outline: transparent;
}
.modal-text:focus {
  border-color: var(--primary-iris-color);
}
.placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.form-div {
}
@media only screen and (min-width: 1158px) {
  .form-div {
    margin-left: 80px;
  }
}
.form-p {
  font-size: 16px;
  font-family: Roboto;

  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
  color: var(--primary-white-color);
}
@media only screen and (max-width: 767.8px) {
  .form-fooret {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
@media only screen and (min-width: 768px) {
  .form-fooret {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 1158px) {
  .form-fooret {
    flex-wrap: nowrap;
  }
}

.form-input-email {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--primary-white-color);

  color: var(--primary-white-color);
  font-size: 12px;
  font-family: Roboto;
  background-color: transparent;

  font-weight: 400;

  letter-spacing: 0.48px;
  padding-left: 16px;
  line-height: 1.5;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
@media only screen (max-width: 428px) {
  .form-input-email {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .form-input-email {
    width: 264px;
  }
}
.form-email {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .form-email {
    width: 264px;
  }
}
@media only screen and (min-width: 1158px) {
  .form-email {
    flex-wrap: nowrap;
  }
}

.form-button {
  display: flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 4px;
  background: var(--primary-iris-color);
  color: var(--primary-white-color);
  border: none;
  color: var(--white, #fff);
  text-align: center;

  font-size: 16px;
  font-family: "Roboto", sans-serif;
  min-width: 165px;
  cursor: pointer;
  margin: 0 auto;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
  height: 40px;
}

.form-button:hover {
  background-color: var(--primary-ocean-color);
}
.form-button:focus {
  background-color: var(--primary-ocean-color);
}
.user-checbox {
}
.modal-checbox-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--primary-light-color);
}
.modal-checbox-clic {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.policy-link {
  color: var(--primary-iris-color);
}
.user-checbox:checked + .modal-checbox-text .modal-checbox-clic {
  border: none;
  fill: var(--primary-cloud-color);
  background-color: var(--primary-ocean-color);
}
.modal-checbox-div {
  margin-bottom: 24px;
}
.button-send {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-white-color);
  cursor: pointer;
  background-color: var(--primary-iris-color);
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  padding: 16px 32px;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
}
/* Mobail-menu */
.menu-toggle {
  min-height: 24px;
  min-width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle.js-close-menu {
  background-color: #e7e9fc;
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  padding: 80px 35px 40px 40px;
  background-color: var(--primary-white-color);
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  justify-content: space-between;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 24px;
  right: 16px;
}

.mobile-menu {
  flex-direction: column;
  align-items: start;
  gap: 40px;
  margin-bottom: auto;
  width: fit-content;
}

.mobile-menu .link {
  display: block;

  color: var(--primary-navy-color);
  text-decoration: none;
  gap: 40px;
}
.menu-toggle-icon {
  stroke: var(--primary-navy-color);
}
.mobile-menu .link:hover,
.mobile-menu .link:focus {
  color: var(--primary-ocean-color);
}
.active {
  color: var(--primary-ocean-color);
  position: relative;
}
.active::after {
  display: none;
}
@media screen and (min-width: 768px) {
  .active::after {
    position: absolute;
    border-radius: 2px;
    background-color: var(--primary-ocean-color);
    width: 100%;
    height: 4px;
    content: "";
    bottom: -1px;
    left: 0;
    display: block;
  }
}
.menu-contact {
  gap: 40px;
  font-style: normal;
  flex-direction: column;
  align-items: start;
  margin-bottom: 48px;
}
@media only screen and (min-width: 768px) {
  .menu-ul {
    display: flex;
    gap: 40px;
    flex-wrap: nowrap;
  }
}
.menu-contacts-adress {
  color: var(--primary-iris-color);

  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.72px;
}
@media screen and (max-width: 427.8px) {
  .menu-contacts-adress {
    font-size: 24px;
  }
}

.menu-meil {
  color: var(--primary-slate-color);

  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.4px;
}

.social-network-menu {
  list-style: none;
  display: flex;
  gap: 56px;
}
@media screen and (max-width: 427.8px) {
  .social-network-menu {
    gap: 28px;
  }
}
